.title {
  font-family: "CrimsonPro-R";
  padding: 48px 0 30px;
  display: flex;
  color: #49413a;
}

.title span {
  display: inline-flex;
  font-size: 30px;
  vertical-align: top;
  margin-bottom: 10px;
}

.title span + span::before {
  content: "";
  display: inline-flex;
  align-items: center;
  width: 1px;
  height: 30px;
  margin: 0 15px;
  background-color: #49413a;
}

.date li {
  display: inline;
}

/* 메인이미지 영역 */
.introVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  mix-blend-mode: screen;
}

.swiper {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
}
.swiper-pagination {
  background-color: transparent;
}

article {
  font-family: "IropkeBatangM";
}

article .title span {
  justify-content: center;
  padding: 0;
  font-size: 1.1rem;
  font-family: "IropkeBatangM";
}

article .title span + span::before {
  height: 20px;
}

article .subText {
  font-family: "IropkeBatangM";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #544f4f;
  margin-bottom: 20px;
}

article .subText p:last-child {
  margin-top: 20px;
}

article .flower {
  width: 20px;
  height: 40px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background: url(./public/imgs/icon_flower_00.png);
  background-size: cover;
}

article .subTitle {
  margin: 60px 0 0;
}

article .thx {
  color: #544f4f;
  font-size: 0.9rem;
  line-height: 2rem;
  font-weight: 600;
}

.infor {
  margin: 60px 0;
}
.infor img {
  width: 100%;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 20px;
}

.familyInfo {
  color: #544f4f;
  line-height: 2rem;
  font-weight: 600;
}

.familyInfo span:nth-child(3) {
  color: #8a857f;
  font-size: 0.8rem;
  font-weight: 500;
}

.rountBtn {
  margin: 1.2rem 0;
  padding: 10px 80px;
  color: #978686;
  font-family: "IropkeBatangM";
  border: 1px solid #cec3c3;
  background-color: transparent;
}

.rountBtn::before {
  content: "\f095";
  font-family: "FontAwesome";
  font-size: 10px;
  color: #cec3c3;
  margin-right: 5px;
}

.calendar {
  padding: 3.6rem 0 3.8rem;
}
.calendar,
.calendarInner,
.marryHour {
  background-color: #f6f5f5;
  font-family: "IropkeBatangM";
  font-weight: 500;
}

.calendar .marryDate {
  display: inline-flex;
  font-size: 1.5rem;
  line-height: 1.8rem;
  letter-spacing: 3px;
  font-family: "CrimsonPro-R";
  color: #544f4f;
  font-weight: 400;
}

.calendar .marryDate div,
.calendar th,
.calendar tr span,
.calendar tbody {
  color: #544f4f;
  font-weight: 600;
  background-color: #f6f5f5;
}

.calendar .marryHour {
  font-family: "IropkeBatangM";
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: #524548;
  margin-top: 10px;
}

.calendar .dday {
  margin-top: 20px;
  font-family: "IropkeBatangM";
  font-weight: 600;
}
.calendar .heart {
  color: #ea7664;
}
.calendarInner {
  padding: 2.6rem 1.5rem 2.8rem;
}
.c-calendar-table {
  font-size: 0.875rem;
  width: 100%;
  padding: 1.5rem 0;
  background-color: #f6f5f5;
  line-height: 1.8rem;
  border-top: 1px solid #978686;
  border-bottom: 1px solid #978686;
  box-sizing: border-box;
}

.c-calendar-table > thead tr th:first-child,
.c-calendar-table > tbody tr td:first-child span:first-child {
  color: #c6472b;
}

.c-calendar-table td {
  position: relative;
  font-size: 0.875rem;
  background-color: #f6f5f5;
  color: #544f4f;
}

.c-calendar-eday > div {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30px;
  background-color: #cec3c3;
  border-radius: 100%;
  color: #fff;
}

/* 카운트다운 */
.countDown {
  position: relative;
  width: 100%;
  display: inline;
}
.cardWrap {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 10px !important;
  letter-spacing: 0;
  line-height: 1rem;
  margin: 0 20px 0 0;
}
.cardWrap .desc {
  padding: 0 0 8px;
  background-color: #f2eeee;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #89757a;
}
.cardWrap:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -80%;
  content: ":";
  margin: 0 20px;
  display: inline-flex;
}
.countDown .card {
  display: block;
  min-width: 2.5rem;
  width: auto;
  border-radius: 2px;
  background-color: #f2eeee;
  font-size: 1.3rem !important;
  color: #89757a;
  line-height: 32px;
  border-radius: 8px;
  padding: 6px 6px 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* 갤러리영역 */
.gallery-grid-container {
  max-height: 500px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.gallery-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, auto);
  gap: 10px;
}

.gallery-grid.grid2 {
  margin: 0 32px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, auto);
}

.grid-item {
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.item {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  border: 1px solid red;
}

/* 16:20 비율 */
.item[data-aspect-ratio="16/20"] {
  padding-bottom: calc(100% * (20 / 16));
}
/* 16:10 비율 */
.item[data-aspect-ratio="16/10"] {
  padding-bottom: calc(100% * (10 / 16));
}
.gallery-more-button-wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
/* 더보기버튼 */
.gallery-more-button {
  color: #978686;
  border: 1px solid #d1c8c8;
  padding: 4px 26px;
  border-radius: 32px;
}

.gallery-more-button>div {
  display: inline-block;
  width: .333rem;
  height: .333rem;
  margin-right: 6px;
  transform: translate(-50%) rotate(45deg);
  animation: bounce 1.5s ease-in-out infinite;
  border-bottom: 1px solid #978686;
  border-right: 1px solid #978686;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0) translateX(-50%) rotate(45deg);
  }
  50% {
    transform: translateY(-3px) translateX(-50%) rotate(45deg);
  }
}

.gallery-more-button span {
  font-size: .85rem;
  margin-left: 10px;
  color: #978686;
  border-radius: 32px;
  font-family: "IropkeBatangM";
}

/* 예식정보 및 안내사항 */
.marryNotice {
  font-family: "IropkeBatangM";
  color: #89757a;
}
.marryNotice .tabWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}

.marryNotice .tabWrap .tabBtn {
  border: 1px solid;
  width: 50%;
  color: #89757a;
  filter: saturate(0.8);
  font-size: 0.9rem;
  border-radius: 8px 8px 0 0;
}

.marryNotice .tabWrap .tabBtn:first-child {
  background-color: #fbfbfb;
}

.marryNotice .tabWrap .tabBtn span {
  display: block;
  padding: 10px 10px;
}

.marryNotice .tabCon {
  border: 1px solid #e8dfdf;
  border-radius: 5px;
  padding: 30px 10px;
  font-family: "IropkeBatangM";
  color: #544f4f;
  font-size: 0.9rem;
}

/* 방명록 */
.guestBox {
  border-radius: 10px;
  border: 1px solid #e8dfdf;
  padding: 30px 0;
  color: #aaa;
  font-family: "PretendardVariable";
}

.visitBox .writeBtn {
  background-color: #d0b9b9;
  color: #fff;
  border: 1px solid #d0b9b9;
  font-family: "PretendardVariable";
}

.visitBox .writeBtn::before {
  content: none;
}

/* footer */
.footerTitle {
  width: 100%;
  height: 250px;
  position: relative;
  background: url("./public/imgs/footerImg.jpg") no-repeat center center;
  background-size: contain;
}

.footerTitle ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footerTitle ul li {
  font-size: 0.86rem;
  font-weight: 600;
  white-space: pre-wrap;
  color: #fff;
  font-family: "IropkeBatangM";
  text-shadow: 1px 1px 30px #000;
}
